html {
	background-color: #efefef;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1104;
}

.a:link {
	text-decoration: none;
}

.form-basic {
	max-width: 900px;
	position: relative;
	margin: 0 auto;
	padding: 35px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	/* font:   14px sans-serif;*/
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	word-wrap: break-word;
}

.form-basic .form-row {
	text-align: left;
	margin-bottom: 22px;
}

.form-basic .form-title-row {
	text-align: center;
	margin-bottom: 35px;
}

/* The form title */
.form-basic h1 {
	display: inline-block;
	box-sizing: border-box;
	color: #4c565e;
	font-size: 24px;
	padding: 0 10px 15px;
	border-bottom: 2px solid #6caee0;
	margin: 0;
}

.form-basic .form-row>label span {
	display: inline-block;
	box-sizing: border-box;
	color: #5F5F5F;
	width: 60%;
	text-align: left;
	vertical-align: top;
	padding: 12px 25px;
	word-wrap: break-word;
}

.form-basic input {
	color: #5f5f5f;
	box-sizing: border-box;
	width: 240px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 12px;
	border: 1px solid #dbdbdb;
}

.form-basic input[type=radio],.form-basic input[type=checkbox] {
	box-shadow: none;
	width: auto;
}

.form-basic input[type=checkbox] {
	margin-top: 13px;
}

.form-basic select {
	background-color: #ffffff;
	color: #5f5f5f;
	box-sizing: border-box;
	max-width: 250px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 12px 8px;
	border: 1px solid #dbdbdb;
}

.form-basic textarea {
	color: #5f5f5f;
	box-sizing: border-box;
	width: 200px;
	height: 80px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	font: normal 13px sans-serif;
	padding: 12px;
	border: 1px solid #dbdbdb;
	resize: vertical;
}

.form-basic .form-radio-buttons {
	display: inline-block;
	vertical-align: default;
}

.form-basic .form-radio-buttons>div {
	margin-top: 10px;
}

.form-basic .form-radio-buttons label span {
	margin-left: 8px;
	color: #5f5f5f;
	font-weight: normal;
	word-wrap: break-word;
}

.form-basic .form-radio-buttons input {
	width: 200 px;
}

.form-basic button {
	display: inline-block;
	/* margin-bottom: 25px; */
	/* 	position: fixed;
   	bottom: 10%;  */
	border-radius: 2px;
	background-color: #6caee0;
	color: #ffffff;
	font-weight: bold;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 14px 22px;
	border: 0;
	/* margin: 50px 30px 0 400px; */
}

.form-basic .btn_pairs_next {
	position: absolute;
	bottom: 20px;
	margin-left: 400px;
}

.form-basic .btn_pairs_back {
	position: absolute;
	bottom: 20px;
	margin-left: 250px;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */
@media only screen and (max-device-width: 480px) {
	/*  @media (max-width: 600px) { */
	.form-basic { /*   padding: 30px;
        max-width: 480px;
         max-width: 100%;
        height:100%; */
		max-width: 100%;
		height: 480px;
		overflow: auto;
		position: relative;
		margin: 0 auto;
	}
	.form-basic .form-row { /*  max-width: 300px; */
		max-width: 90%;
		margin: 0 auto;
		/*  margin: 25px auto; */
		text-align: left;
		
	}
	.form-basic .btn_pairs_next {
		position: absolute;
		bottom: 0;
		margin-left: 35%;
	}
	.form-basic .btn_pairs_back {
		position: absolute;
		bottom: 0;
		margin-left: 5%;
	}
	.form-basic .form-title-row { /* margin-bottom: 50px; */
		margin-bottom: 5%;
	}
	.form-basic .form-row>label span {
		display: block;
		text-align: left;
		padding: 0 0 15px;
		width: 100%;
		
		
	}
	.form-basic select {
		width: 240px;
	}
	.form-basic input[type=checkbox] {
		margin-top: 0;
	}
	.form-basic .form-radio-buttons>div {
		margin: 0 0 10px;
	}
	.form-basic button {
		margin: 0;
	}
	.form-basic table, tbody,td, tr { 
		display: block; 
		
		
	}
	.form-basic .column-align { 
	width: 100%;
	

}
.form-basic .form-row .test{
	
	text-decoration: underline;
	/* font-weight: bold; */
} 